<section class="mx-auto max-w-2xl space-y-10">
  <div class="rounded-xl bg-stone-50 p-6 shadow-sm">
    <h1 class="text-3xl font-bold tracking-tight text-lime-900">
      利用規約
    </h1>
  </div>

  <p class="mt-4 leading-7 text-gray-700">
    このページには、後ほど利用規約を記載します。
  </p>
  
  <div class="mt-6">
    <%= link_to "トップページへ戻る",
                  root_path,
                  class: "text-gray-700 hover:text-lime-900" %>
  </div>
</section>