<% if resource.errors.any? %>
  <div class="mb-4 rounded-lg bg-stone-50 px-4 py-3 shadow-sm" data-turbo-temporary>
    <h2 class="text-sm font-medium text-lime-900">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </h2>

    <ul class="mt-2 list-disc space-y-1 pl-5 text-sm text-gray-600">
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>