<h1><%= @recipe.title %></h1>

<%= link_to "レシピ一覧へ戻る", recipes_path %>

<%= render "latest_recipe_version", latest_recipe_version: @latest_recipe_version %>

<section>
  <h2>操作</h2>

  <p>改良履歴作成ページは後続issueで作成予定です。</p>
  <p>改良履歴一覧ページは後続issueで作成予定です。</p>
</section>