<h1>マイページ</h1>

<div>
  <p>ユーザー名：<%= current_user.name %></p>
  <p>メールアドレス：<%= current_user.email %></p>
</div>

  <li>
    <%= link_to "登録情報を変更する", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "アカウントを削除する", account_deletion_path %>
  </li>

</ul>
