<section>
  <div>
    <h1>改良履歴を編集</h1>
    <p>対象レシピ：<%= @recipe.title %></p>
  </div>

  <div>
    <%= render "form", recipe: @recipe, recipe_version: @recipe_version %>
  </div>

  <div>
    <%= link_to "保存せずに戻る", recipe_version_path(@recipe_version) %>
  </div>
</section>