<% content_for :body_class do %>
  bg-white text-gray-900
<% end %>

<section class="mx-auto max-w-2xl rounded-lg bg-lime-700 px-1 py-1 shadow-sm">
  <div class="space-y-4 rounded-lg bg-white px-4 py-4 shadow-sm">

    <p class="text-sm tracking-tight text-gray-700">
      保存済みのバージョンを編集できます。
    </p>

    <div class="border-b border-stone-300 pb-3">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">
        <%= @recipe.title %>
      </h1>
    </div>

    <div class="rounded-xl bg-stone-50 p-6 shadow-sm">
      <%= render "form", recipe: @recipe, recipe_version: @recipe_version %>
    </div>

    <div class="mt-6">
      <%= link_to "保存せずに戻る",
                  recipe_version_path(@recipe_version),
                  class: "rounded-md border border-gray-700 bg-white px-4 py-2 text-gray-700 shadow-sm transition hover:bg-gray-200 hover:text-gray-700" %>
    </div>

  </div>
</section>