<section>
  <div>
    <h1>このバージョンから改良</h1>
    <p>対象レシピ：<%= @recipe.title %></p>
  </div>

  <div>
    <%= render "form", recipe: @recipe, recipe_version: @recipe_version %>
  </div>

  <div>
    <%= link_to "保存せずに戻る", recipe_recipe_versions_path(@recipe) %>
  </div>
</section>